<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
</head>

<body>

    <div class="row">
        <div class="large-3 columns">
            <h1><img src="http://placehold.it/400x100&text=Logo"/></h1>
        </div>
        <div class="large-9 columns"></div>
    </div>





    <div class="row">
        <div class="large-12 columns">
            <div id="slider">
                <img src="http://placehold.it/1000x400&text=[ img 1 ]" />
            </div>

            <hr/>
        </div>
    </div>



    <div class="row">
        <div class="large-4 columns">
            <img src="http://placehold.it/400x300&text=[img]" />
            <h4>Course Grade Information</h4>
            <p>
                Have you ever wanted to know what the average grade for a course was? How about grade distributions for different professors? Schools usually don't publicize this information. However, this information is crucial for deciding what courses to take. We believe in transparency and access to this information.

            </p>
        </div>

        <div class="large-4 columns">
            <img src="http://placehold.it/400x300&text=[img]" />
            <h4>Personal Analytics</h4>
            <p>
                Find out where you're strengths and weaknesses are. Explore your past course history. Find out that your average history grade better than your average math grade.

            </p>
        </div>

        <div class="large-4 columns">
            <img src="http://placehold.it/400x300&text=[img]" />
            <h4>Get Started Today</h4>
            <p>To get started, create an account and import your past grade history woth  our chrome extension. No personal information is stored, and your data is completely anonymous (feel free to checkout the sourcecode on GitHub). As soon as you import your past grades, you will have access to the entire database of course information. </p>
        </div>

    </div>


    <div class="row">
        <div class="large-12 columns">

            <div class="panel">
                <h4>Get in touch!</h4>

                <div class="row">
                    <div class="large-9 columns">
                        <p>We'd love to hear from you, you attractive person you.</p>
                    </div>
                    <div class="large-3 columns">
                        <a href="#" class="radius button right">Contact Us</a>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <footer class="row">
        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="large-6 columns">
                    <p>© Copyright no one at all. Go to town.</p>
                </div>
                <div class="large-6 columns">
                    <ul class="inline-list right">
                        <li><a href="#">Link 1</a>
                        </li>
                        <li><a href="#">Link 2</a>
                        </li>
                        <li><a href="#">Link 3</a>
                        </li>
                        <li><a href="#">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>
