<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Openn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup-form.css') }}" />
    <script src="{{ url_for('static', filename='jquery.min.js') }} "></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }} "></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/foundation-icons.css') }} "></link>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"></link>
    <script src="{{ url_for('static', filename='highcharts.js') }} "></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>



</head>

<body>
    <div class="row">
        <div class="large-3 columns">
            <h1><a href="http://openn.me"><img src="{{ url_for('static', filename='img/logo.png') }}"/></a></h1>
        </div>
        <div class="large-9 columns"></div>
    </div>

    <div class="row">
        <div class="large-4 columns" id="intro-text">

            <h3>Welcome to Openn</h3>
            Openn is the largest resource for class and professor grade distributions at the University of Pennsylvania. Use Openn to explore classes, compare professors, and gain insight into your own personal grade history. To get started, sign up for an account, or sign in at the right. Or, play around with the demo below.

        </div>

        <div class="large-4 columns" id="signUp">
            <div class="signup-panel">
                <p class="welcome">Sign Up</p>
                <form>
                    <div class="row collapse">
                        <div class="small-2  columns">
                            <span class="prefix"><i class="fi-torso-female"></i></span>
                        </div>
                        <div class="small-10  columns">
                            <input type="text" class="username" placeholder="username">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <input type="password" class="password" placeholder="password">
                            <small id="signup-errorbox" class="error" style="display:none"></small>
                        </div>

                    </div>
                </form>
                <div class="button">Sign Up</div>


                    <!--  <p>Already have an account? <a href="#">Login here &raquo</a>
                </p> -->

            </div>


        </div>


        <div class="large-4 columns" id="signIn">
            <div class="signup-panel">
                <p class="welcome">Sign In</p>
                <form>
                    <div class="row collapse">
                        <div class="small-2  columns">
                            <span class="prefix"><i class="fi-torso-female"></i></span>
                        </div>
                        <div class="small-10  columns">
                            <input type="text" class="username" placeholder="username">

                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <input type="password" class="password" placeholder="password">
                            <small id="signin-errorbox" class="error" style="display:none"></small>

                        </div>
                    </div>
                </form>
                <div class="button">Sign In</div>
                <!-- <p>Already have an account? <a href="#">Login here &raquo</a> -->
                <!-- </p> -->
            </div>
        </div>


    </div>

    <div class="row">
     <br> <br>
     <div class="large-12 columns">
                  <!-- <br>
                  <img src="{{ url_for('static', filename='img/dist.png')}}"></img> -->
                  <div id="container" style="height: 300px"></div>

                  <script>

                    var className = getRandomClassName();
                    function getRandomArbitrary(min, max) {
                      return Math.round(Math.random() * (max - min) + min);
                  }

                  $('#container').highcharts({

                    chart: {
                        renderTo: 'container',
                        type: 'column'
                    },

                    title: {
                        text: 'Grade Distribution for "' + className +'"'
                    },

                    legend: {
                        enabled: false
                    },

                    xAxis: {
                        categories: ['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'F']
                    },

                    yAxis: {
                        title: {
                            text: 'Students'
                        }
                    },

                    tooltip: {
                        valueSuffix: ' students',
                        pointFormat: '<b>{point.y}</b>',
                    },

                    plotOptions: {
                        column: {
                            groupPadding: 0,
                            pointPadding: 0,
                            borderWidth: 0,
                            shadow: true
                        }
                    },

                    credits: {
                        enabled: false
                    },

                    series: [{
                        name: '',
                        data: [getRandomArbitrary(0,5), 
                        getRandomArbitrary(20,40),
                        getRandomArbitrary(25,40),
                        getRandomArbitrary(45,55),
                        getRandomArbitrary(43,45),
                        getRandomArbitrary(35,40),
                        getRandomArbitrary(23,30),
                        getRandomArbitrary(13,20),
                        getRandomArbitrary(11,17),
                        getRandomArbitrary(4, 10), 
                        getRandomArbitrary(2, 8),
                        getRandomArbitrary(0,5)]
                    }]

                });
            </script>
        </div>

    </div>


    <div id="setUserEventDiv"></div>
        <!--  hello!!!
    <div id="test"></div>
    Login
    <div id="login">
        <input class="username">
        <input class="password">
        <button value="Submit"></button>
    </div>
    Create
    <div id="create">
        <input class="username">
        <input class="password">
        <button value="Submit"></button>
    </div>
    <button id="logout" value="Logout"></button>-->
    <footer class="row" id="footer">
        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="large-8 columns">
                    <p>© Copyright 2014. From the makers of PennCoursePlus: Fifi Yeung and Jonathan Dubin</p>
                </div>
                <div class="large-4 columns">
                    <ul class="inline-list right">
                        <li><a href="#">FAQ</a>
                        </li>
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div id="setUserRemoveDiv" style="visibility:hidden"></div>
</body>

</html>

</body>



</html>
