<!DOCTYPE html>

<html>

<head>
    <title>opencourse</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script></head>

<body>
    hello!!!
    <div id="test"></div>
    Login
    <div id="login">
        <input class="username">
        <input class="password">
        <button value="Submit"></button>
    </div>
    Create
    <div id="create">
        <input class="username">
        <input class="password">
        <input value="Submit">
    </div>
</body>

<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</html>
