<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Course</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup-form.css') }}" />
    <script src="{{ url_for('static', filename='jquery.min.js') }} "></script>
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }} "></script>
        <link rel="stylesheet"  href="{{ url_for('static', filename='fonts/foundation-icons.css') }} "></link>


</head>

<body>

    <div id="signup-errorbox" style="display:none"></div>
    <div id="signin-errorbox" style="display:none"></div>

    <div class="row">
        <div class="large-4 columns" id="signUp">
            <div class="signup-panel">
                <p class="welcome">OPenn</p>
                <form>
                    <div class="row collapse">
                        <div class="small-2  columns">
                            <span class="prefix"><i class="fi-torso-female"></i></span>
                        </div>
                        <div class="small-10  columns">
                            <input type="text" class="username" placeholder="username">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <input type="text" class="password" placeholder="password">
                        </div>
                    </div>
                </form>
                <div class="button ">Sign Up! </div>
               <!--  <p>Already have an account? <a href="#">Login here &raquo</a>
                </p> -->
            </div>
        </div>
        <div class="large-4 columns" id="signIn">
            <div class="signup-panel">
                <p class="welcome">OPenn</p>
                <form>
                    <div class="row collapse">
                        <div class="small-2  columns">
                            <span class="prefix"><i class="fi-torso-female"></i></span>
                        </div>
                        <div class="small-10  columns">
                            <input type="text" class="username" placeholder="username">
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="small-2 columns ">
                            <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            <input type="text" class="password" placeholder="password">
                        </div>
                    </div>
                </form>
                <div class="button ">Sign In </div>
                <!-- <p>Already have an account? <a href="#">Login here &raquo</a> -->
                <!-- </p> -->
            </div>
        </div>
    </div>



    <div id="setUserEventDiv"></div>
   <!--  hello!!!
    <div id="test"></div>
    Login
    <div id="login">
        <input class="username">
        <input class="password">
        <button value="Submit"></button>
    </div>
    Create
    <div id="create">
        <input class="username">
        <input class="password">
        <button value="Submit"></button>
    </div>
    <button id="logout" value="Logout"></button>-->
</body>

<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

</html>
