<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Openn</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup-form.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <script src="{{ url_for('static', filename='jquery.min.js') }} "></script>
    <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }} "></script>
    <script src="{{ url_for('static', filename='highcharts.js') }} "></script>
    <script src="{{ url_for('static', filename='jquery.tablesorter.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.default.css') }}">
    <script src="{{ url_for('static', filename='main.js') }} "></script>
    <script src="{{ url_for('static', filename='personal.js') }} "></script>
    <script src="{{ url_for('static', filename='school.js') }} "></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

</head>

<body>

    
    <div class="row">
        <div class="large-3 columns">
            <h1><a href="http://openn.me" id='logo'><img src="{{ url_for('static', filename='img/logo.png') }}"/></a></h1>
        </div>
        <div class="large-9 columns">
            <div id="logout">
                <button>Logout</button>
            </div>
        </div>
    </div>




    <div class="row">

        <div class="large-3  columns">

            <ul class="side-nav">
                <!--<li><a href="#" id='home'>Home</a>
                </li>-->
                <li><a href="#" id='personal'>Personal History</a>
                </li>
                <li><a href="#" id='search'>Course Search</a>
                </li>
                <li><a href="#" id='school'>School at a Glance</a>
                </li>
            </ul>

        </div>

       <div class="large-9 columns" id="content">


        </div> 

    </div>

    <!--<script type='text/html' id="homeContent">
    <h3> Home </h3>
    </script> -->
    <!-- ~~~~~~~~~~~~~Personal Page~~~~~~~~~~~~~~~~ -->
    <script type='text/html' id="personalPerformanceContent">
        <h3>Personal Performance</h3>
        <table id="personalTable" class="tablesorter">
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Semester and Year</th>
                    <th class='sorter-grades'>Grade</th>
                </tr>
            </thead>
            <tbody id="tableBody">

            </tbody>
        </table>
        <div id="containerPersonal" style="height: 300px"></div >
    </script>
    <!-- ~~~~~~~~~~~~~Search Page~~~~~~~~~~~~~~~~ -->

    <script type='text/html' id="searchContent">
    <h3> Course Search </h3>
    <div class="ui-widget" id="searchDropDown">
        <label for="tags">Tags:</label>
        <input id="tags">
    </div> 
    <!--<div id="searchButton" ></div>-->
    <div id="containerSearch" style="height: 300px"></div >

    </script>
    <!-- ~~~~~~~~~~~~~School Page~~~~~~~~~~~~~~~~ -->

    <script type='text/html' id="schoolContent">
    <h3> School </h3>
    <div id="schoolContainer" style="height: 300px"></div>
    <div id="yearContainer" style="height: 300px"></div>
    </script>

    <script>
    
    /*$("#logo").click(function() {
        $(document).ready(function() {
            var homeContent = $("#homeContent").html();
            $("#content").html(homeContent);
        });
    }); */

    /*$("#home").click(function() {
        $(document).ready(function() {
            var homeContent = $("#homeContent").html();
            $("#content").html(homeContent);
        });
    }); */

    $(document).ready(function() {
        var personalPerformanceContent = $("#personalPerformanceContent").html();
        $("#content").html(personalPerformanceContent);
        ajaxCall();
    });

    $(document).ready(function() {
        $("#personal").click(function() {
            var personalPerformanceContent = $("#personalPerformanceContent").html();
            $("#content").html(personalPerformanceContent);
            ajaxCall();
        });
    });

    $(document).ready(function() {
        $("#search").click(function() {
            setupCourseSearch();
            var searchContent = $("#searchContent").html();
            $("#content").html(searchContent);
        });
    });

    $(document).ready(function() {
        $("#school").click(function() {
            var schoolContent = $("#schoolContent").html();
            $("#content").html(schoolContent);
            graphUserSchoolData();
        });
    });
    </script>

    {% include "partials/footer.html" %}


<div id="setUserRemoveDiv" style="visibility:hidden"></div>
</body>

</html>
